body{
    background-color:peachpuff;
}

.bg-darkgray{
    background-color: darkgray;
}

.bold {
    font-weight: bold;
}

.text-red {
    color: red;
}

.text-black {
    color: black;
}

.super-center-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shadow-md {
    box-shadow: 4px 4px 10px black;
}